body{
	font-size: 14px;
	font-family: Arial;
}
.button1 {
    border: none;
    padding: 5px;
    background-image: url(img/button1.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    color: white;
}
.wraper {
    width: 1022px;
    display: inline-block;
    text-align: left;
}
.tel {
	font-size: 18px;
	font-weight: bold;

}
.callback {
	padding-top: 20px;
}
.dostoinstva {
	text-align: center;
}
.logo{

}
.adress{

	padding-top: 20px;
}
.nav>li>a {
	position: relative;
	display: block;
	padding: 10px 13px;
}
.socialnetwork{

	padding-top: 20px;
}
.socialnetwork>a{
	text-decoration: none;
}
.phone{

	padding-top: 20px;
}

.header {
    text-align: center;
}
.buttons {
	background-image: url("img/head_buttons.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.skidki {
	background-image: url("img/skidak.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
	
.menu1>li{
	display: inline-block;
	margin-right: 2%;
	margin-top: 2%;

}
.allnews{
	text-align: center;
}
.menu1{
	list-style-type: none;
	height: 60px;
}
.menu1>li>a{
	text-decoration: none;
	color: white;
	font-size: 14px;
}
.menu1>li>a:hover{
	color: lightgrey ;
}
.shapka>div {
    float: left;
}

.f1{
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
.f1>img {
	max-width:100%;
}
.skidki{
	color: white ;
}

.everypeople img {
	max-width: 100%;
}
.people {
	text-align: center;
	margin-bottom: 10px;
}
.reasons {
	background: url(img/backgr1.jpg);
	text-align: center;
	background-position: center;
	background-attachment: fixed;
	background-size: 100% 100%;
}
.block2{
	display: inline-block;
}
.block1 {
	display: inline-block;
text-align: left;
}
.block1>div{
	margin-bottom: 10px;
}
.block2>div{
	margin-bottom: 10px;
}
.best {
	background-image: url("img/backgrphoto.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.everypeople{
	vertical-align: top;
	display: inline-block;
	padding-bottom: 10px;
}
.best{
	vertical-align: top;
	display: inline-block;

}
.sk{
	text-align: center;
	margin-bottom: 15px;
}
.octavian{
	text-align: right;
	color: #7d7d7d;

	display: inline-block;
	margin-top: 1%;
}
.map{
	text-align: center;


}
.news{
	text-align: center;
	margin: 30px 0;
	padding: 20px 0;
}
.specialists{
	text-align: center;
}
.block2 {
	display: inline-block;
	text-align: left;

}
h2 {
	text-align: center;
	    margin-bottom: 40px;
    margin-top: 40px;
}
.f1>p{
	text-align: center;
	margin: 15px 0;
}
.navbar {
	background-image: url("img/head_buttons.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border: none;
}

.up {
	align-content: center;
}
.buttons {
	text-align: inherit;
}
.bock1 {
	text-align: left;
}
.downhead {
	background-color: black ;
}
.downhead {
	text-align: center;
}
.menu2>li{
	display: inline-block;
    margin-right: 20px;
}
.menu2{
	list-style-type: none;
	padding-top: 16px;
}
.menu2>li>a{
	text-decoration: none;
	color: white;
	font-size: 14px;
}
.menu2>li>a:hover{
	color: lightgrey ;
}
.nav>li>a{
	color: white;
}
.navbar-default .navbar-nav>li>a {
	color: #FFF;
}
.footer{
	background-color: #1d1d1d;
	text-align: center;
}
.bpart1{
	margin-bottom: -15%;
	margin-top: 5%;
	margin-left: 1%;
}
.bpart2{
	margin-left: 2%;
}
.textmonth{
	margin-top: -33px;
	margin-left: 3%;
	font-size: 23px;
	color: white;
}
.textstepname{
	margin-bottom: 10%;
	margin-top: 10%;
	text-align: center;
	font-size: 18px;
}
.news1{
	display: inline-block;
	text-align: left;
	vertical-align: top;
}
.news1>img {
	width:100%;
}

.textnews1 {
	margin-bottom: 5%;
	margin-top: 5%;
}
.sk>img{
	max-width: 100%;
}
.tsspec {
	text-align: center;
	margin-bottom: 22%;
	color: #7d7d7d
}
.specialisation {
	margin-top: 5%;
	color: #7d7d7d;
	text-align: center;
	font-size: 12px;
}
.ptext {
	font-size: 16px;
}
.textnews1{
	font-size: 12px;
}
.date1{
	font-size: 11px;
}
.footer1{
	color: #7d7d7d;
	display: inline-block;
	padding-top: 10px;
	text-align: left;
}
.octavian>img{
	vertical-align: middle;
	margin-left: 5%;
}
.shapka{
	padding: 10px 0;
}
.downhead .buttons{
	background-image: none;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border: none;
	background-color: black;
}
.downhead .navbar{
	background-image: none;
	background-color: black;
}
.modal-body>textarea{
	width: 100%;
	height: 150px;
	resize: none;
}
.modal-title {
	margin: 0px;
	line-height: 1.42857143;
	text-align: center;
}
.error>a{
	color: #7D7D7D;
}

.navbar {
	margin-bottom:0;
	min-height: 0;
}
.navbar-nav li:hover {
	color:white;
	background-color: #691f75;
}
.navbar-nav li:hover a{
	color:white!important;
	background-color: #691f75;
}
.navbar-nav li a{
	text-transform:uppercase;
}
.seeall{
	text-align: center;
}
.seeall img {
	margin-right: 5px;
}
.sk1.col-xs-12.col-md-12.col-sm-12.col-lg-4 {
	margin-top: 10px;
}
.callback .btn:hover {
	color:white !important;
	opacity: 0.8;
}
.callback .btn {
	padding: 5px 15px;
}
.news{
	background: url(img/backgr1.jpg);
	text-align: center;
	background-position: center;
	background-attachment: fixed;
	background-size: 100% 100%;
}
.circle{
	padding-top: 15px;
	color: white;
	display: inline-block;
	text-align: center;
	border-radius: 100%;
	width: 51px;
height: 51px;
background-color: #a9033a;
background-image: linear-gradient(to top, #6d1455 0%, #b50034 100%);
margin-right: 23%;
}
.step{
	display: inline-block;
	    margin-right: 23%;
    padding-left: 10px;
}
@media (max-width: 600px) {
	.circle{
	margin-right: 10%;	
	}
	.step{
		display: none;
	}
	.input-form>select{
    width: 205px;
}
.sites-slider{
	display: none;
}
}
.description-form{
	display: inline-block;
	width: 25%;
	margin-top: 40px;
}
.input-form{
	display: inline-block;
	width: 49%;
	margin-top: 40px;
}
.input-form>select{
	width: 263px;
height: 44px;
background-color: white;
border: 1px solid #ccc;
border-radius: 3px;
}
.fbtn{
	text-align: center;
	margin-top: 30px;
}
.fbtn>a,.fbtn>button{
	display: inline-block;
	color: white;
	padding: 10px;
	cursor: pointer;
	border: none;
	text-decoration: none;
	min-width: 114px;
background-color: white;
background-image: linear-gradient(to top, #6d1455 0%, #b50034 100%);
border-radius: 3px;
}
.doctor{
	text-align: right;
}

.slick-next {
    height: 60px;
    width: 60px;
    background-image: url(img/next.png);
    background-size: 60%;
		background-repeat: no-repeat;
    position: absolute;
    top: 15%;
    right: -25px;
    color: transparent;
    z-index: 99;
    background-color: transparent;
    border:none;
}
.slick-prev {
    height: 60px;
    width: 60px;
    background-image: url(img/prev.png);
    background-size: 60%;
background-repeat: no-repeat;
    position: absolute;
    top: 15%;
    left: -25px;
    color: transparent;
    z-index: 99;
    background-color: transparent;
    border:none;
}
div,a,img {
    outline: none !important; /* РЈР±РёСЂР°РµР�? РіСЂР°РЅРёС†Сѓ РІРѕРєСЂСѓРі СЃСЃС‹Р»РѕРє  */
}
div:focus{outline:none !important;}
a:focus{outline:none !important;}
img:focus{outline:none !important;}
button:focus{outline:none !important;}
.slider-license button{
	top: 40%;
}
.sl-img{
	text-align: center;
}
.sl-img img{
	display: inline-block;
}
.circle {
	cursor: pointer;
}
.step2,.step3 {
	display: none;
}
.step3 input, .step3 textarea {
	display: block;
	width: 100%;
	margin:10px 0;
	border-radius: 8px;
	padding: 10px;
	border:1px grey solid;
}
.step3 h5,.step2 h5{
	text-align: center;
	padding: 10px 0;
}
#date {
	max-height: 300px;
	overflow: scroll;
}
.item-row-good-img img{
	width:100px;
}


.page-content {
	padding-top: 20px;
	padding-bottom: 20px;
	height: 100%;
	min-height: 100%;
}
.seeall {
	text-align: left;
	margin:10px 0;
}
.item-row-good-img {
	text-align: center;
}
.nav-good-category {
	margin:30px 0;
	text-align: center;
}
.item-row-good {
	text-align: center;
	margin: 20px 0;
}

.item-row-good h3{
	background-color: rgba(0, 0, 0, 0.75);
	transition: 0.3s linear;
	height: 55px;
	overflow: hidden;
}
.item-row-good h3:hover{
	transition: 0.3s linear;
	background: #970841;
}
.item-row-good h3 > a:hover{
	text-decoration: none;
}
.item-row-good h3:before{
	content: ' ';
	display: inline-block;
	vertical-align: middle;  /* vertical alignment of the inline element */
	height: 100%;
}
.item-row-good h3  a {
	color: white;
	font-size: 16px;
	padding: 10px;
	width:100%;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
}
.nav-good-category-container {
	text-align: center;
}
.seeall a{
	color: #000;
}
.main-all div{
	text-align: right !important;
}
.modal-body .form-group{
	text-align: left;
}
.bg-inactive-step{
	background: tan;
}

.page-text{
	padding-top: 20px;
}

a{
	color: #B20137;
}
a:hover{
	color: #8C0A46;
}

.wrapper-form{
	padding-bottom: 10px;
}
#date h5{
	padding: 10px 0;
	box-shadow: 0px 1px 1px #ccc;
	background: #eee;
}
#date {
	max-height: 300px;
	overflow: auto;
	box-shadow: inset 0 0 6px;
	padding: 10px;
	border-radius: 6px;
	/* padding-right: 25px; */
}
.fbtn>a, .fbtn>button{
	text-align: center;
}
.butnstep{
	text-align: left !important;
	margin-bottom: 2px;
	margin-top: 10px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
	color:#fff;
}
.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img{
	width:100%;
}
.btn.btn-lg.button1:focus, .btn.btn-lg.button1:hover, .btn.button1:focus, .btn.button1:hover{
	background-image: url(img/button1.png);
}
.fbtn a:hover{
	color:#fff;
}
.best_avatar img{
	width:200px;
}
