<ion-view view-title="Как добраться">
    <ion-header-bar class="bar-positive">
        <h1 class="title">Как добраться</h1>
    </ion-header-bar>


    <ion-content>



            <iframe  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2423.2438515896024!2d39.592403!3d52.601363!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x413a14e9eece3c35%3A0xdfbc4fe617d626e0!2z0J7QutGC0Y_QsdGA0YzRgdC60LDRjyDRg9C7LiwgNjEsINCb0LjQv9C10YbQuiwg0JvQuNC_0LXRhtC60LDRjyDQvtCx0LsuLCAzOTgwNTk!5e0!3m2!1sru!2sru!4v1432638437060"
                     width="100%" height="100%" frameborder="0" style="border:0"></iframe>








    </ion-content>


</ion-view>

