<ion-view view-title="{{shares.name}}">
    <ion-header-bar class="bar-positive">
        <h1 class="title">{{shares.name}}</h1>
    </ion-header-bar>



    <ion-content>






        <div class="list card">

            <div class="item">
                <h2>{{shares.name}}</h2>

            </div>

            <div class="item item-body">
                <img class="full-image" ng-src="https://medicalsystem.tk{{ shares.avatar }}">
                <p>
                <div ng-bind-html="shares.content"></div>

                </p>
                <p class="text-right">
                    <span class="subdued pull-right">{{shares.created_at}}</span>
                </p>
            </div>


        </div>




    </ion-content>





</ion-view>


