@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?whso5n');
    src:    url('../fonts/icomoon.eot?whso5n#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?whso5n') format('truetype'),
        url('../fonts/icomoon.woff?whso5n') format('woff'),
        url('../fonts/icomoon.svg?whso5n#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
textarea.form-control{
    resize: vertical;
}
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-soc-ages:before {
    content: "\e900";
}
.icon-soc-baby:before {
    content: "\e901";
}
.icon-soc-embrion:before {
    content: "\e902";
}
.icon-soc-kachestvo:before {
    content: "\e903";
}
.icon-soc-list:before {
    content: "\e904";
}
.icon-soc-logo:before {
    content: "\e905";
}
.icon-soc-money:before {
    content: "\e906";
}
.icon-soc-osob:before {
    content: "\e907";
}
.icon-soc-specialist:before {
    content: "\e908";
}
.icon-soc-vzrosl:before {
    content: "\e909";
}














.main-bg{
    background: url("/sokzn48.ru/img/main-bg.png") no-repeat;
    max-height: 790px;
    background-size: cover;
}

.square-block{
    border: 2px solid white;
    border-radius: 5px;
    padding: 40px 15px;
    display: block;
    color: #fff;
    margin: 35px 0 35px;
}
.square-block > p{
    padding: 50px 10px 0 10px;
    font-size: 18px;
    font-weight: 300;
}

.main-bg .lead{
    padding: 20px;
}

.most{
    background-color: #31a0c9;
}


.header-h{
    color: #31a0c9;
    font-size: 36px;
    font-weight: 300;
    text-transform: uppercase;
}


.page-bg{
    background: url("/sokzn48.ru/img/pages.png") no-repeat;
    height: 340px;
    background-size: cover;
}


.text-middle{
    min-height: 100%;  /* Fallback for vh unit */
    /* Make it a flex container */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
    -webkit-align-items : center;
    -moz-box-align : center;
    -ms-flex-align : center;
    align-items : center;


    /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
       hence the bootstrap's container won't be aligned to the center anymore.

       Therefore, we should use the following declarations to get it centered again */
    -webkit-box-pack : center;
    -moz-box-pack : center;
    -ms-flex-pack : center;
    -webkit-justify-content : center;
    justify-content : center;
}

.doctors{
    margin-bottom: 15px;
    font-size: 12px;
    padding: 10px 40px;
}

.detail {
    float: right;
}


.our-staffs-phone, .our-staffs-email{
    margin-bottom: 15px;
}



.medicom-feature-list {
    list-style: outside none none;
    padding: 15px 0px;
}
.after-booking-sec {
    padding: 50px 0px;
}
.after-booking-sec ul {
    padding: 60px 0px 0px;
    margin: 0px;
}
.list-inline > li:first-child {
    padding-left: 0px;
}
.after-booking-sec li {
    width: 49%;
    font-size: 18px;
    color: #373737;
    vertical-align: top;
}
.after-booking-sec .panel{
    margin-bottom: 20px;
    background-color: #FFF;
    border-bottom: 1px solid #DDD;
}
.after-booking-sec .panel-heading{
    background-image: none;
    background-color: #fff;
}
.after-booking-sec  .panel-title{
    font-size: 18px;
    color: #373737;
}
.after-booking-sec .small, small {
    font-size: 75%;
    color: #616161;
}
.after-booking-sec .blog-content{
    font-size: 16px;
}
.blog-post h4{
    text-transform: uppercase;
    color: #31A0C9;
}
.blog-post>a>img{
    margin-top: 10px;
    border-top: 5px solid #31A0C9;
}
.text-smal{
    color:#31A0C9;
}
.medicom-feature-list li {
    padding-left: 55px !important;
    padding-bottom: 20px;
    font-size: 18px;
}
.medicom-feature-list li i {
    margin-left: -55px;
    width: 37px;
    height: 37px;
    border-radius: 100%;
    text-align: center;
    color: #FFF;
    font-size: 22px;
    line-height: 34px;
    margin-right: 17px;
}
.medicom-feature-list li i {
    border: 1px solid #1A7CAE;
    background: #2B96CC none repeat scroll 0% 0%;
}


.feature {
    padding: 10px 0px 40px;
}
i.feature-icon {
    border-radius: 10px;
    color: #FFF;
    font-size: 40px;
    height: 76px;
    line-height: 78px;
    text-align: center;
    width: 75px;
}
i.feature-icon {
    background: #2B96CC none repeat scroll 0% 0%;
    text-shadow: 0px 5px 0px #1F7BA9;
}
.feature-content {
    padding-left: 98px;
}
.feature-content h5, .feature-content h5 a {
    color: #616161;
    font-family: RobotoBold;
    font-size: 20px;
}
.feature h5 {
    margin-top: 0px;
}
.feature-content p {
    font-size: 14px;
    color: #777;
    line-height: 21px;
    margin-bottom: 0px;
}


.cupid-gallery{
    padding: 0 15px;
}
.gallery-wrapper .gallery-col-3 {
    float: left;
    width: 33.3333%;
}
.gallery-wrapper .gallery-item {
    padding: 15px;
    margin: 0px;
}
.gallery-item {
    float: left;
    margin: 0px 4px 4px 0px;
    overflow: hidden;
    position: relative;
}
.entry-thumbnail {
    position: relative;
}
.gallery-wrapper .gallery-item img {
    max-width: 100%;
    display: block;
}
.entry-thumbnail .entry-thumbnail-hover {
    background: rgba(255, 167, 60, 0.95) none repeat scroll 0% 0%;
}
.entry-thumbnail .entry-thumbnail-hover {
    background: rgba(145, 220, 216, 0.95) none repeat scroll 0% 0%;
}
.entry-thumbnail .entry-thumbnail-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0px;
    background: rgba(255, 167, 60, 0.95) none repeat scroll 0% 0%;
    transition: all 0.5s ease-out 0s;
}
.entry-thumbnail .entry-hover-wrapper {
    display: table;
    height: 100%;
    text-align: center;
    width: 100%;
}
.entry-thumbnail .entry-hover-wrapper .entry-hover-inner {
    display: table-cell;
    padding-left: 28px;
    padding-right: 28px;
    vertical-align: middle;
}
.gallery-wrapper .entry-thumbnail-hover .entry-hover-inner a {
    display: block;
    text-decoration: none;
}
.entry-thumbnail .entry-hover-wrapper .entry-hover-inner a {
    color: #FFF;
}
.gallery-wrapper .gallery-item .class-name {
    font-weight: 700;
    color: #FFF;
}
.gallery-wrapper .gallery-item span.excerpt {
    font-size: 15px;
    line-height: 1.6;
    display: block;
    max-height: 72px;
    overflow: hidden;
}
.gallery-wrapper .gallery-item:hover .gallery-caption{opacity:1}
.entry-thumbnail:hover .entry-thumbnail-hover{opacity:1}
.gallery-wrapper .gallery-item-fix{
    margin-bottom: 15px;
    max-height: 150px;
    overflow: hidden;
}
.gallery-item-fix img{
    width: 100%;
}
.gallery-item-fix .entry-hover-wrapper{
    max-height: 150px;
}
.servlist h2{
    font-size: 25px;
}
.servlist h3{
    font-size: 18px;
}
.servlist>.row{
    padding: 20px 0;
    text-transform: uppercase;

}
.servlist>.row, .servlist>.row h2, .servlist>.row h3, .servlist>.row a{
    font-weight: 300;
}
.serv-desk>img{
    max-width: 100%;
}
.serv-col .item-serv{
    width: 33%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

@media(max-width: 700px){
    .serv-col .item-serv{
        width: 100%;
    }
}
.serv-col>.serv-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.serv-col>.serv-desk{
    text-align: center;
}
.servlist>.row:nth-child(odd){
    background: #fff;
}
.servlist>.row:nth-child(odd) .serv-desk{
    color: #31a0c9;
}
.servlist>.row:nth-child(odd) a{
    border-bottom: 1px solid #fff;
}
.servlist>.row:nth-child(odd) a:hover{
    border-bottom: 1px solid #31a0c9;
}

.servlist > .row.blue .serv-desk{
    color: #fff;
}
.servlist>.row:nth-child(even), .servlist>.row.blue {
    background: #31a0c9;
    color:#fff;
}
.servlist>.row:nth-child(even) a, .servlist>.row.blue a{
    color:#fff !important;
    border-bottom: 1px solid #31a0c9;
}

.servlist>.row:nth-child(even) a:hover, .servlist>.row.blue a:hover{
    border-bottom: 1px solid #fff;
}
