@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?whso5n');
    src:    url('../fonts/icomoon.eot?whso5n#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?whso5n') format('truetype'),
        url('../fonts/icomoon.woff?whso5n') format('woff'),
        url('../fonts/icomoon.svg?whso5n#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-soc-ages:before {
    content: "\e900";
}
.icon-soc-baby:before {
    content: "\e901";
}
.icon-soc-embrion:before {
    content: "\e902";
}
.icon-soc-kachestvo:before {
    content: "\e903";
}
.icon-soc-list:before {
    content: "\e904";
}
.icon-soc-logo:before {
    content: "\e905";
}
.icon-soc-money:before {
    content: "\e906";
}
.icon-soc-osob:before {
    content: "\e907";
}
.icon-soc-specialist:before {
    content: "\e908";
}
.icon-soc-vzrosl:before {
    content: "\e909";
}














.main-bg{
    background: url("/sokzn48.ru/img/main-bg.png") no-repeat;
    max-height: 790px;
    background-size: cover;
}

.square-block{
    border: 2px solid white;
    border-radius: 5px;
    padding: 40px 15px;
    display: block;
    color: #fff;
    margin: 35px 0 35px;
}
.square-block > p{
    padding: 50px 10px 0 10px;
    font-size: 18px;
    font-weight: 300;
}

.main-bg .lead{
    padding: 20px;
}

.most{
    background-color: #31a0c9;
}


.header-h{
    color: #31a0c9;
    font-size: 36px;
    font-weight: 300;
    text-transform: uppercase;
}


.page-bg{
    background: url("/sokzn48.ru/img/pages.png") no-repeat;
    height: 340px;
    background-size: cover;
}


.text-middle{
    min-height: 100%;  /* Fallback for vh unit */
    /* Make it a flex container */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
    -webkit-align-items : center;
    -moz-box-align : center;
    -ms-flex-align : center;
    align-items : center;


    /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
       hence the bootstrap's container won't be aligned to the center anymore.

       Therefore, we should use the following declarations to get it centered again */
    -webkit-box-pack : center;
    -moz-box-pack : center;
    -ms-flex-pack : center;
    -webkit-justify-content : center;
    justify-content : center;
}