 @font-face {
font-family: "OpenSans";
src: url(fonts/OpenSansRegular/OpenSansRegular.ttf) format("truetype");
font-style: normal;
font-weight: normal;
}
body{
font-family: OpenSans;
font-size: 14px;
font-weight: 400;
line-height: 22px;
background-image: url('img/mainbg.jpg');
background-repeat: no-repeat;
	background-position: center top;
}
.header-top{
text-align: right;
}
.header-top a{
margin-left: 10px;
color: #19851e;
font-family: OpenSans;
font-size: 12px;
font-weight: 400;
line-height: 12px;
text-decoration: underline;
}
.header-left img{
margin-right: 5px;
}
.header-right{
text-align: right;
}
.header-right>p>span{
font-size: 24px;
font-weight: 700;
line-height: 24px;
}
.header-right a{
color: #19851e;
font-family: OpenSans;
font-size: 16px;
font-weight: 400;
line-height: 16px;
text-decoration: underline;	
}
.header-right button{
color: white;
font-family: OpenSans;
font-size: 18px;
font-weight: 400;
line-height: 18px;
width: 248px;
height: 50px;
background-image: url(img/button-call.png);	
border-radius: 5px;
border: none;
padding-left: 45px;
margin-bottom: 15px;
}
.menu1{
background: linear-gradient(to top, #26a32c, #5aaf27);	
}
.menu1.navbar-default .navbar-nav>li>a{
color: white;
}
.advantages-head{
text-align: center;
margin-top: 30px;
margin-bottom: 30px;
color: white;


}
.advantages-head p{
display: inline-block;
padding: 5px;
background-color: #f2762e;
	margin: 0;
	
}
.advantages-head span{
display: inline-block;
padding: 5px;
background-color: #29b02f;
}
.advantages-head h3{
display: inline-block;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
border:6px solid white;
}
.advantages-single{
text-align: center;
font-family: OpenSans;
font-size: 16px;
font-weight: 400;
line-height: 21px;
}
.advantages-single p {
	margin: 15px 0;
}
.advantages{
margin-bottom: 30px;
}
.request{
background-image: url(img/bg-request.png);
background-repeat: no-repeat;
background-size: 1920px 100%;
padding: 50px 0;
	background-position: center;
}
.request-head{
color: white;
font-family: OpenSans;
font-size: 36px;
font-weight: 400;
line-height: 36px;
text-align: center;
margin-bottom: 35px;
}
.request-img img{
max-width: 100%;
border-radius: 100%;
border:3px solid white;
}
.step {
color: white;
text-align: center;
}
.step img{
border-radius: 100%;
border: 4px solid transparent;

}
.steps{
margin: 20px;
}
.active-img{
border: 4px solid #f8e626!important;
}
.request-form>form>select{
width: 100%;
margin-bottom: 20px;
}
.request-form>form>textarea{
resize:none;
width: 100%;
height: 137px;
margin-bottom: 40px;
}
.button-form>button{
width: 118px;
height: 51px;
background: linear-gradient(to top, #f2762e, rgba(255, 164, 99, 0.6));
border:none;
border-radius: 3px;
color: white;
font-family: OpenSans;
font-size: 14px;
font-weight: 700;
line-height: 14px;
}
.green-head{
text-align: center;
margin-bottom: 50px;
margin-top: 30px;
}
.green-head h3{
display: inline;
padding: 5px;
background-color: #29b02f;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
border:3px solid white;
color: white; 
}
.orange-head{
text-align: center;
margin-bottom: 50px;
margin-top: 30px;
}
.orange-head h3{
display: inline;
padding: 5px;
background-color: #f2762e;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
border:3px solid white;
color: white; 
}
.single-direction{
text-align: center;
}
.direction-img img{
border-radius: 100%;
border:4px solid white;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.direction-text h4 a{
color: #19851e;
font-family: OpenSans;
font-size: 18px;
font-weight: 700;
line-height: 18px;
text-decoration: underline;
}
 .direction-text ul li {
	 color: #19851e;
 }
 .direction-text ul li a:hover {
	 color: #f2762e;
	 cursor: pointer;
 }
.direction-text ul li a{
	 color: #19851e;
	 font-size: 16px;
	 text-decoration: underline;
 }
.direction-text p{
color: #231f20;
font-size: 14px;	
}
.healthy-video{
text-align: center;
}
.healthy-video img{
border: 4px solid white;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
max-width: 100%;	
}
.healthy-text a{
color: #19851e;
text-decoration: underline;
}
.video-slider{
margin-bottom: 30px;
margin-top: 30px;
padding: 20px;
}
 .video-slider iframe {
	 padding: 10px;
 }
.slick-prev{
border: none;
background-color: transparent;
background-image: url(img/prev.png);
color: transparent;
width: 26px;
height: 44px;
z-index: 10;
position: absolute;
bottom: 30%;
right: 95%;
}
.slick-next{
border: none;
background-color: transparent;
background-image: url(img/next.png);
color: transparent;
width: 26px;
height: 44px;
position: absolute;
left: 95%;
bottom: 30%;
}
.video-slide{
text-align: center;
}
.video-slide img{
display: inline-block;
}
div:focus{outline:none !important;}
button:focus{outline:none !important;}

.video-slider-icon{
text-align: center;
}
.video-slider{
background-image: url(img/bg-video.png);
background-repeat: no-repeat;
background-size: 100% auto;
}
.gallery-img{
text-align: center;
padding: 10px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);	
}
.gallery-img img{
width: 100%;
}
.all-photoes-link{
color: #19851e;
font-family: OpenSans;
font-size: 16px;
font-weight: 400;
line-height: 16px;
text-decoration: underline;
display: inline-block;
text-align: right;
width: 49%;
}
.all-photoes-link a{
color: #19851e;
font-family: OpenSans;
font-size: 16px;
font-weight: 400;
line-height: 16px;
text-decoration: underline;
}
.all-photoes-img{
display: inline-block;
text-align: left;
width: 49%;
}
.all-photoes{
	margin-top: 20px;
	margin-bottom: 20px;
}
.single-share{
padding: 10px;
}
.shares-img{
padding: 10px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);	
}
.shares-img img{
width: 100%;
}
.shares-text a{
color: #19851e;
font-family: OpenSans;
font-size: 16px;
font-weight: 400;
line-height: 22px;
text-decoration: underline;
}
.shares-text span{
color: #19851e;
font-family: OpenSans;
font-size: 16px;
font-weight: 400;
line-height: 16px;	
}
.shares-text{
margin-top: 15px;
margin-bottom: 15px;
}
.all-shares{
text-align: center;
}
.all-shares a{
color: #19851e;
font-family: OpenSans;
font-size: 16px;
font-weight: 400;
line-height: 16px;
text-decoration: underline;
}
.single-news a{
color: #19851e;
font-family: OpenSans;
font-size: 16px;
font-weight: 400;
line-height: 22px;
text-decoration: underline;
}
.single-news span{
color: #19851e;
font-family: OpenSans;
font-size: 16px;
font-weight: 400;
line-height: 16px;	
}
.all-news{
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
}
.all-news a{
color: #19851e;
font-family: OpenSans;
font-size: 16px;
font-weight: 400;
line-height: 16px;
text-decoration: underline;
}
.license-prev{
background-image: url(img/license-prev.png);
width: 35px;
height: 111px;
right: 94%;
}
.license-next{
background-image: url(img/license-next.png);
width: 35px;
height: 111px;
left: 94%;
}
.license-slide{
text-align: center;
}
.license-slide img{
display: inline-block;
}
.all-license{
text-align: center;
margin-top: 15px;
margin-bottom: 15px;
}
.all-license a{
color: #19851e;
font-family: OpenSans;
font-size: 16px;
font-weight: 400;
line-height: 16px;
text-decoration: underline;
}
.license-slide a{
color: #19851e;
font-family: OpenSans;
font-size: 16px;
font-weight: 400;
line-height: 22px;
text-decoration: underline;
}
.reviews-questions{
background-image: url(img/bg-question.png);
}
.reviews-body,.questions-body{
background-color: white;
opacity: 0.75;
min-height:582px;
padding: 10px;
margin-bottom: 20px;
}
.review-img{
padding: 5px;
}
.review-img img{
width: 100%;
border-radius: 100%;
border:5px solid white;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.review-text h5{
color: #19851e;
font-family: OpenSans;
font-size: 16px;
font-weight: 700;
line-height: 16px;	
}
.review-text a{
color: #19851e;
text-decoration: underline;	
}
.review-text span{
color: #19851e;
font-family: OpenSans;
font-size: 16px;
font-weight: 400;
line-height: 16px;	
}
.all-reviews{
text-align: center;
}
.all-reviews a{
color: #19851e;
font-size: 16px;
font-weight: 400;
line-height: 16px;
text-decoration: underline;
}
.single-question h5{
color: #19851e;
font-family: OpenSans;
font-size: 16px;
font-weight: 700;
line-height: 16px;	
}
.single-question span{
color: #19851e;
font-family: OpenSans;
font-size: 16px;
font-weight: 400;
line-height: 16px;	
}
.answer-img{
padding: 10px;
}
.answer-img img{
width: 100%;
border-radius: 100%;
border:5px solid white;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.single-answer{
background-color: #dfeffb;
}
.answer-text h5{
color: #19851e;
font-family: OpenSans;
font-size: 16px;
font-weight: 700;
line-height: 16px;
}
.answer-text a{
color: #19851e;
font-size: 16px;
font-weight: 400;
line-height: 16px;
text-decoration: underline;
}
.answer-text span{
color: #19851e;
font-family: OpenSans;
font-size: 16px;
font-weight: 400;
line-height: 22px;
}
.all-questions{
text-align: center;
}
.all-questions a{
color: #19851e;
font-size: 16px;
font-weight: 400;
line-height: 16px;
text-decoration: underline;
}
.single-review{
margin-bottom: 6px;
}
.sites-slide{
text-align: center;
}
.sites-slide img{
display: inline-block;
}
.be-careful{
text-align: center;
color: #231f20;
font-family: OpenSans;
font-size: 32px;
font-weight: 400;
line-height: 39px;
margin-top: 20px;
margin-bottom: 20px;
}
.menu2{
border:none;
background-color: transparent;
}
.menu2.navbar-default .navbar-nav>li>a{
color: #19851e;
font-family: OpenSans;
font-size: 15px;
font-weight: 400;
line-height: 15px;
text-decoration: underline;
}
.footer-right{
text-align: right;
}
.soc-set{
margin-bottom: 15px;
}
.copy-firm a{
color: #19851e;
text-decoration: underline;
}
.cards{
margin-bottom: 15px;
}
.footer-right a{
color: #19851e;
font-family: OpenSans;
font-size: 14px;
font-weight: 400;
line-height: 14px;
text-decoration: underline;
}
@media screen and (max-width: 991px) {
.header-left,.header-center,.header-right{
text-align: center;
}
}
.cards img{
max-width: 100%;
}
.container {

}
.page-content h1{
	margin:25px 0;
}