vc_custom_1439796249329 {
    margin-bottom: 0px !important;
}

.vc_custom_1439880673570 {
    margin-bottom: 0px !important;
}

.vc_custom_1439899405856 {
    margin-bottom: 0px !important;
}

.vc_custom_1443254699136 {
    margin-bottom: 0px !important;
    padding-top: 60px !important;
    padding-bottom: 40px !important;
}

.vc_custom_1443521251463 {
    padding-top: 50px !important;
}

.vc_custom_1443264919324 {
    margin-bottom: 60px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    background-color: #4c6575 !important;
}

.vc_custom_1440049113495 {
    margin-bottom: 70px !important;
}

.vc_custom_1443008883758 {
    margin-bottom: 60px !important;
    padding-top: 50px !important;
    padding-bottom: 80px !important;
}

.vc_custom_1440140332526 {
    margin-bottom: 60px !important;
}

.vc_custom_1440411250438 {
    margin-bottom: 60px !important;
    padding-top: 70px !important;
    padding-bottom: 70px !important;
    background: url(../../img/footbg.jpg) no-repeat;
}

.vc_custom_1440411640422 {
    margin-bottom: 70px !important;
}

.vc_custom_1440502317861 {
    margin-bottom: 0px !important;
}

.vc_custom_1440502646613 {
    margin-bottom: 0px !important;
}

.vc_custom_1439878727322 {
    margin-top: -50px !important;
    padding-right: 0px !important;
}

.vc_custom_1439878731029 {
    margin-top: -50px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1439878734259 {
    margin-top: -50px !important;
    padding-left: 0px !important;
    padding-right: 0px!important;
}

.vc_custom_1443700113643 {
    padding-top: 45px !important;
    padding-right: 40px !important;
    padding-bottom: 45px !important;
    padding-left: 40px !important;
}

.vc_custom_1443254226875 {
    padding-top: 45px !important;
    padding-right: 40px !important;
    padding-bottom: 45px !important;
    padding-left: 40px !important;
}

.vc_custom_1443254233576 {
    padding-top: 45px !important;
    padding-right: 40px !important;
    padding-bottom: 45px !important;
    padding-left: 40px !important;
    background-color: #4c6575 !important;
}

.vc_custom_1443254508274 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.vc_custom_1439899240148 {
    padding-top: 50px !important;
    padding-right: 60px !important;
    padding-bottom: 70px !important;
    padding-left: 60px !important;
    background-color: #f6f6f6 !important;
}

.vc_custom_1439880821468 {
    /*margin-bottom: 20px !important;*/
}

.vc_custom_1442898720340 {
    /*margin-bottom: 30px !important;*/
}

.vc_custom_1439899872796 {
    margin-bottom: 70px !important;
}

.vc_custom_1443254710022 {
    padding-bottom: 40px !important;
}

.vc_custom_1443254718746 {
    padding-bottom: 40px !important;
}

.vc_custom_1443254731860 {
    padding-bottom: 40px !important;
}

.vc_custom_1443254742860 {
    padding-bottom: 40px !important;
}

.vc_custom_1443527221221 {
    margin-bottom: 50px !important;
}

.vc_custom_1443264932250 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.vc_custom_1443264937585 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.vc_custom_1443264943697 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.vc_custom_1443264948857 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.vc_custom_1440063061494 {
    margin-bottom: 40px !important;
}

.vc_custom_1443266080216 {
    margin-top: -462px !important;
}

.vc_custom_1440502955646 {
    padding-top: 52px !important;
    padding-right: 35px !important;
    padding-bottom: 53px !important;
    padding-left: 35px !important;
}
h5, .h5 {

    line-height: 24px;
    font-weight: 600;
    font-size: 18px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wpb_content_element .wpb_wrapper{
    font-family: Roboto;
    line-height: 30px;
    font-weight: 300;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    top: 45%;
    left: 15%;
    z-index: 1000000000;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fdfdfd;
    text-align: center;
    text-shadow: 1px 1px 3px #000;
    font-size: 48px;
    font-family: Roboto;
}   

.title_box {
    background-image: url(../../img/header_bg_5.jpg);
    background-repeat: no-repeat;

}
.title_wr{
    text-shadow: 1px 1px 3px #000;
    margin: 25px 0;
}
.widget_contacts.style_2 li .text strong {
     display: block;
    font-weight: bold;
    color: #395261;
}
.subbclock{
    padding-left: 29px;
}

