@font-face {
    font-family: "PTSerif";
    src: url("../fonts/PTSerifRegular/PTSerifRegular.eot");
    src: url("../fonts/PTSerifRegular/PTSerifRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSerifRegular/PTSerifRegular.woff") format("woff"),
    url("../fonts/PTSerifRegular/PTSerifRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
body{
font-family: PTSerif;
font-size: 14px;
}
a,div,button {
    outline: none;
}
a,img{
    outline: none !important;
}
.center{
    text-align: center;
}
.header-top{
background-color: #5eaef7;
color: white;

}
.header-top>div>div{
    padding: 10px 0;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 0px;
    padding-left: 10px;
    padding-top: 10px;
    text-transform: uppercase;
}
.under-menu ul{
padding: 0;
}
.under-menu li{
display: inline-block;
}
.under-menu a{
font-size: 12px;
padding-left: 25px;
}
.circle{
float: left;
}
.circle img{
max-width: 100%;
}
.circle p{
text-align: center;
}
.circle a{

}
.width-1{
width: 10%;
}
.width-2{
width: 11%;    
}
.width-3{
width: 13%;    
}
.width-4{
width: 16%;    
}
.development-studio{
    background-color: white;
    background-image: url(img/studiya-bg.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1760px auto;
    padding: 30px 0px;
}
.stud{
    background-color: #737c7e;
    background-image: url(img/bg-st.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    background-attachment: fixed;
}
.request{
background-image: url(img/request-bg.png);
padding-bottom: 20px;
}
.form select{
width: 100%;
height: 35px;
margin-bottom: 14px;
}
.form textarea{
width: 100%;
resize:none;
height: 150px;
}
.form button{
width: 118px;
height: 51px;
color: white;
font-family: PTSerif;
font-size: 14px;
font-weight: 700;
line-height: 14px;
background-color: #479ded;
}
.table-news{
background-image: url(img/news-bg.png);
background-size: 100% 100%;
background-repeat: no-repeat;
}
.table-href{
padding-top: 10%;
}
.share-img img{
max-width: 100%;
}
.panel-heading{
background-image: url(img/accordeon-down.png);
background-size: 100% 100%;
}
.studio{
    background-color: #b4e8e4;
    background-image: url(img/studio-bg.png);
    background-size: cover;
    background-position: center;
    padding-bottom: 20px;
}
.program-head{
font-family: PTSerif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    background-color: #FFF;
    color: #FFF;
    background-image: url("img/st-head.png");
    background-size: 100% 100%;
    text-align: center;
    padding: 10px 10px 20px 10px;
}
.program-body{
    color: blue;
background-color: white;
}
.rev-text{
    padding-left: 5px;
}
.rev-img img{
max-width: 100%;
}
.footer{
background-color: #479ded;
color: white!important;
}
.footer-block-4 p{
    font-size: 12px;
}
.header-label-big{
margin: 30px 0;
text-align: center;
color: #0076de;
font-family: PTSerif;
font-size: 36px;
font-weight: 400;
line-height: 36px;
}
.header-label-small{
margin-bottom: 30px;
text-align: center;
color: #415166;
font-family: PTSerif;
font-size: 20px;
font-weight: 400;
line-height: 20px;
}
.menu1{
background-color: transparent;
border:none;
}
.navbar{
min-height: 40px;
margin-bottom: 0px;
}
.phone-header{
font-size: 15px;
}
.adr-header{
font-size: 15px;
}
.mail-header{
font-size: 15px;
}
.eye-header{
font-size: 11px;
}
.social-header{
font-size: 12px;
}
.social-header>img{
    max-width: 100%;
}
.logo{
    text-align: center;
}
.logo img{
max-width: 100%;
}
.pad-1{
margin-top: 18px;
}
.pad-2{
margin-top: 71px;
}
.pad-3{
margin-top: 82px;
}
.pad-4{
margin-top: 31px;
}
.pad-5{
margin-top: 96px;
}
.pad-6{
margin-top: 163px;
}
.pad-7{
margin-top: 202px;
}
.pad-8{
margin-top: 103px;
}
.pad-b-1{
    margin-bottom: 15px;
}
.white{
color: white;
}
.black{
    color: #000;
}
.blueBg{
    background: #479DED;
}
.blueText{
    color: #479DED;
}
.fa.fa-big{
    font-size: 70px;
}
.single-st p{

font-family: Arimo;
font-size: 14px;
font-weight: 400;
line-height: 21px;
padding:0;
}
.single-st span{
margin-right: 10px;
font-family: PTSerif;
font-size: 14px;
font-weight: 500;
line-height: 30px;
}
.single-st{
min-height: 150px;
}
.request-img img{
max-width: 100%;
}
.steps{
margin-top: 20px;
}
.step{
text-align: center;
}
.news-shares-head{
    padding: 10px;
font-family: PTSerif;
font-size: 36px;
font-weight: 400;
line-height: 36px;
color: white;
background-color: #5eaef7;
}
.news-shares-head span{
display: inline-block;
width: 49%;
text-align: center;
}
.news-shares-head a{
color: white;
}
.single-news{
margin-bottom: 15px;
margin-top: 15px;
}
.table-news{
padding: 10px;
}
.news-img img{
max-width: 100%;
}
.news-img{
padding-top: 20px;
}
.news-text>h4>a{
font-family: PTSerif;
font-weight: 400;
line-height: 22px;
color: #0076de;
font-size: 18px;
text-decoration: underline;
}
.news-text>p>a{
font-family: PTSerif;
font-size: 14px;
font-weight: 400;
line-height: 18px;
color: #0076de;
text-decoration: underline;
}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body{
border:none;
}
.panel-default{
border:none;
}
.shares{
margin-top: 15px;
}
.studio-head-big{
background-color: #5eaef7;
padding: 15px;
color: white;
font-family: PTSerif;
font-size: 36px;
font-weight: 400;
line-height: 36px;
text-align: center;
margin-top: 20px;
}
.studio-head-small{
    color: #415166;
    font-family: PTSerif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}
.program-body li{
color: #0076de;
font-family: PTSerif;
font-size: 24px;
font-weight: 400;
line-height: 32px;
}
.reviews-form{
    background-image: url("img/bg-reviews-form.jpg");
    background-size: cover;
    color:#fff;
}
.reviews-form .container, .quest-form .container{
    padding-top: 40px;
    padding-bottom: 40px;
}
.single-review{
margin: 30px auto;
}
.single-review i.feature-icon{
    border-radius: 100%;
    height: 85px;
    width: 85px;
}
.menu2{
background-color: transparent;
border:none;
    margin: 20px 0px;
}
.single-license{
text-align: center;
}
.single-license a{
color: #0076de;
font-family: PTSerif;
font-size: 18px;
font-weight: 400;
line-height: 22px;
text-decoration: underline;
}
.all-license{
text-align: right;
}
.menu2 .navbar-nav>li>a{
color: white;
padding-left: 40px;
}
.footer a{
color: white;
}
.footer-block-2>img{
max-width: 100%;
}
.all-rev{
text-align: right;
}
.rev-text>h4>a{
color: #0076de;
font-family: PTSerif;
font-weight: 400;
font-size: 18px;
line-height: 20px;
}
.rev-text>h4>a>span{
font-size: 14px;
line-height: 15px;
}
.slick-slide img{
    display: inline-block;
}
.slick-slide{
    display: inline-block;
text-align: center;
}
.slick-prev{
border: none;
background-color: transparent;
background-image: url(img/prev.png);
color: transparent;
width: 26px;
height: 44px;
z-index: 10;
position: absolute;
bottom: 18%;
}
.slick-next{
border: none;
background-color: transparent;
background-image: url(img/next.png);
color: transparent;
width: 26px;
height: 44px;
position: absolute;
left: 98%;
bottom: 18%;
}
.slider-sites,.slick-list{
width: 100%;
}
.slick-slider-sites{
margin-bottom: 20px;
}
.news-shares-head>p{
display: none;
}
@media screen and (max-width: 1300px){
.pad-1,.pad-2,.pad-3,.pad-4,.pad-5,.pad-6,.pad-7,.pad-8 {
margin-top: 0px!important;
}
.development-studio{
background-image: none;
}
.circle>img{
width: 100px;
height: 100px;
}
.circle{
text-align: center;
}
}
@media screen and (max-width: 1020px){
.width-1,.width-2,.width-3,.width-4 {
width: 12.5%;
}
}
@media screen and (max-width: 730px){
.width-1,.width-2,.width-3,.width-4 {
width: 25%;
}
.circle>img{
width: 130px;
height: 130px;
}
}
@media screen and (max-width: 580px){
.width-1,.width-2,.width-3,.width-4 {
width: 50%;
}
.circle>img{
width: 200px;
height: 200px;
}
}
@media screen and (max-width: 420px){
.width-1,.width-2,.width-3,.width-4 {
width: 100%;
}
.circle>img{
width: 200px;
height: 200px;
display: inline-block;
}
.circle{
text-align: center;
}
}
@media screen and (max-width: 991px){
.stud {
background-image: none; 
}
}
@media screen and (max-width: 991px){
.single-st{
text-align: center;
}
.header-label-big{
font-size: 20px;
}
.header-top{
text-align: center;
}
.news-shares-head>p{
display: block!important;
text-align: center;
}
.news-shares-head>span{
display: none;
}
}
@media screen and (max-width: 775px){
.slick-next{
left: 96%;
}
}
@media screen and (max-width: 485px){
.slick-next{
left: 88%;
}
}
.item-galery{
    text-align: center;
    padding-bottom: 15px;
}
.item-galery img {
    max-width: 100%;
    height: 150px;
}
.item-row{
    padding-bottom: 15px;
}
.item-row img{
    max-width: 100%;
    /*max-height: 150px;*/
}
.item-serv{
    text-align: center;
    margin: 15px 0px !important;
}
.item-serv>div>div{
    max-height: 197px;
    overflow: hidden;
}
.service-list h1{
    color: #479DED;
    text-transform: uppercase;
}
.service-list a{
    color: #FFF;
    display: table;
    width: 100%;
    background: #479DED;
    height: 70px;
    overflow: hidden;
    margin-top: 15px;
}
.service-list a h4{
    background: #479DED;
    display: table-cell;
    padding: 0px 10px;
    vertical-align: middle;
}
.blog-wrapper{
    margin-bottom: 15px;
}
.blog-item{
    min-height: 330px;
}
.page-content {
    margin-bottom: 30px;
}
.doctors-detail .heading {
    font-weight: bold;
}
.inline-block-grids {
    font-size: 0;
}
.inline-block-grids>div {
    font-size: 16px;
    float: none;
    display: inline-block;
    vertical-align: top;
}
.doctors {
    margin-bottom: 40px;
}
.contact-form{
    padding: 10px;
}
.contacts{
    padding-top: 10px;
}
.panel-heading{
    padding: 0;
}
.panel-title > a{
    width: 100%;
    height: 100%;
    display: block;
    padding: 10px 15px;
}
.panel-title > a:hover,.panel-title > a:focus{
    text-decoration: none;
}
.padding-top-35{
    padding-top: 35px;
}
.footer-menu li{
    list-style: none;
    padding-bottom: 5px;
}
.footer-menu li a{
    text-decoration: underline;
}
.footer-block-2>div{
    margin-bottom: 7px;
}
.footer-block-2>div>img{
    padding-right: 5px;
}
.footer-block-2>img{
    margin-top: 20px;
}
.our-staffs-phone, .our-staffs-email, .our-staffs-phone{
    margin-bottom: 20px;
}
.license-img img{
    max-width: 100%;
}


.medicom-feature-list {
    list-style: outside none none;
    padding: 15px 0px;
}
.after-booking-sec {
    padding: 50px 0px;
}
.after-booking-sec ul {
    padding: 0px 0px 0px;
    margin: 0px;
}
.list-inline > li:first-child {
    padding-left: 0px;
}
.after-booking-sec li {
    width: 100%;
    font-size: 18px;
    color: #373737;
    vertical-align: top;
}
.after-booking-sec .panel{
    margin-bottom: 20px;
    background-color: #FFF;
    /*border-bottom: 1px solid #DDD;*/
}
.after-booking-sec .panel-heading{
    background-image: none;
    background-color: #fff;
    border: 1px solid #479DED;
    padding: 15px;
}
.after-booking-sec  .panel-title{
    font-size: 18px;
    color: #373737;
}
.after-booking-sec .small, small {
    font-size: 75%;
    color: #616161;
}
.after-booking-sec .blog-content{
    font-size: 16px;
}
.after-booking-sec .panel-collapse{
    margin-top: 15px;
    margin-left: 30%;
    background: rgb(232, 243, 243) none repeat scroll 0% 0%;
    padding: 20px;
}
.medicom-feature-list li {
    padding-left: 55px !important;
    padding-bottom: 20px;
    font-size: 18px;
}
.medicom-feature-list li i {
    margin-left: -40px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    text-align: center;
    color: #FFF;
    font-size: 2em;
    line-height: 50px;
    margin-right: 17px;
    margin-top: 20px;
}
.medicom-feature-list li i {
    border: 1px solid #1A7CAE;
    background: #2B96CC none repeat scroll 0% 0%;
}


.feature {
    padding: 10px 0px 40px;
}
i.feature-icon {
    border-radius: 10px;
    color: #FFF;
    font-size: 40px;
    height: 76px;
    line-height: 78px;
    text-align: center;
    width: 75px;
}
i.feature-icon {
    background: #2B96CC none repeat scroll 0% 0%;
    text-shadow: 0px 5px 0px #1F7BA9;
}
.feature-content {
    padding-left: 98px;
}
.feature-content h5, .feature-content h5 a {
    color: #616161;
    font-family: RobotoBold;
    font-size: 20px;
}
.feature h5 {
    margin-top: 0px;
}
.feature-content p {
    font-size: 14px;
    color: #777;
    line-height: 21px;
    margin-bottom: 0px;
}


.gallery-wrapper .gallery-col-3 {
    float: left;
    width: 33.3333%;
}
.gallery-wrapper .gallery-item {
   padding: 15px;
    margin: 0px;
}
.gallery-item {
    float: left;
    margin: 0px 4px 4px 0px;
    overflow: hidden;
    position: relative;
}
.entry-thumbnail {
    position: relative;
}
.gallery-wrapper .gallery-item img {
    max-width: 100%;
    display: block;
}
.entry-thumbnail .entry-thumbnail-hover {
    background: rgba(255, 167, 60, 0.95) none repeat scroll 0% 0%;
}
.entry-thumbnail .entry-thumbnail-hover {
    background: rgba(145, 220, 216, 0.95) none repeat scroll 0% 0%;
}
.entry-thumbnail .entry-thumbnail-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0px;
    background: rgba(255, 167, 60, 0.95) none repeat scroll 0% 0%;
    transition: all 0.5s ease-out 0s;
}
.entry-thumbnail .entry-hover-wrapper {
    display: table;
    height: 100%;
    text-align: center;
    width: 100%;
}
.entry-thumbnail .entry-hover-wrapper .entry-hover-inner {
    display: table-cell;
    padding-left: 28px;
    padding-right: 28px;
    vertical-align: middle;
}
.gallery-wrapper .entry-thumbnail-hover .entry-hover-inner a {
    display: block;
    text-decoration: none;
}
.entry-thumbnail .entry-hover-wrapper .entry-hover-inner a {
    color: #FFF;
}
.gallery-wrapper .gallery-item .class-name {
    font-weight: 700;
    color: #FFF;
}
.gallery-wrapper .gallery-item span.excerpt {
    font-size: 15px;
    line-height: 1.6;
    display: block;
    max-height: 72px;
    overflow: hidden;
}
.gallery-wrapper .gallery-item:hover .gallery-caption{opacity:1}
.entry-thumbnail:hover .entry-thumbnail-hover{opacity:1}
.gallery-wrapper .gallery-item-fix{
   margin-bottom: 15px;
    max-height: 150px;
    overflow: hidden;
}
.gallery-item-fix img{
    width: 100%;
}
.gallery-item-fix .entry-hover-wrapper{
    max-height: 150px;
}

.doctors-img{
    overflow: hidden;
    padding-right: 10px;
}
.doctors-img img{
    max-width: 100%;
}
.doctors-detail {
    padding: 15px;
    background: #E8F3F3;
}
.doctors-detail>.specName{
    color: #333 !important;
}
.feedHead{
    text-transform: uppercase;
    padding: 10px;
}
.blog-content .img-responsive{
    display: inline-block;
}
.quest-form{
    background: url('img/vopros.jpg') no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}
ul.specNav{
    list-style: none;
    font-size: 14px;
}
.specNav>li{
    display: inline-block;
    padding: 0 15px;
}
.specNav>li>a{
    display: inline-block;
    text-transform: uppercase;
}
.specNav .list-group-item{
    border-radius: 0;
    border:none;
    background-color: #E8F3F3;
}
.specNav .list-group-item.active, .specNav .list-group-item.active:focus,.specNav .list-group-item.active:hover{
    background-color: #479DED;
}
.moreBtn{
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin-left: -15px;
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255) !important;
    background: rgb(71, 157, 237) ;
    text-decoration: none;
    text-transform: uppercase;
}
.moreBtn:hover{
    background: #4B90D2 ;
}
